/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  /* --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); */
  /* --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); */
  --font-size-xl: clamp(2rem, 2.38vw + 1.55rem, 3.75rem);

  --color-text: hsl(12, 5%, 4%);
  --color-bg: hsl(10, 21%, 95%);
  /* --color-border: hsl(17, 24%, 90%); */
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body,
h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: green;
}

p,
footer {
  line-height: 1.5;
}

p:not(:first-of-type) {
  margin-top: 1rem;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 55rem;
  padding: 1rem;
  margin-inline: auto;
}

.bold {
  font-weight: 700;
}
