---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page non trouvée - cservius.com">
  <article class="container">
    <h1>Erreur 404 : page non trouvée</h1>
    <p>Désolé ! La page que vous recherchez est introuvable.</p>
    <p>⬅ <a href="/">Revenir à l'accueil</a></p>
  </article>
</Layout>
