---
import Layout from '@layouts/Layout.astro';
---

<Layout title="cservius">
  <article class="container">
    <h1>Développement durable,<br />transformation numérique,<br />RSE</h1>
    <p>
      <strong>Site actuellement en construction.</strong><br />Nous serons bientôt de retour, merci
      de votre patience&nbsp;!<br />
      En attendant, vous pouvez nous contacter par e-mail&nbsp;:<br />
      <a href="mailto:contact@cservius.com">contact[a]cservius.com</a>
    </p>
  </article>
</Layout>
