---
const year = new Date().getFullYear();
---

<footer>
  <div class="socials">
    <a href="https://twitter.com" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
      <img src="/assets/twitter.svg" alt="" width="25" height="25" loading="lazy" />
    </a>
  </div>
  <div class="copy">cservius © {year}</div>
</footer>

<style>
  footer {
    text-align: center;
    padding: 3rem 0;
  }
</style>
