<nav>
  <div class="flex container nav">
    <a href="/" class="bold">cservius</a>
    <a href="mailto:contact@cservius.com">Contact</a>
  </div>
  <div class="line"></div>
</nav>

<style>
  .nav {
    justify-content: space-between;
  }
  .line {
    border-bottom: 2px solid #000;
  }
</style>
